/***** TotalView *****/
.total-view-button {
    margin-top: 30px;
}

.total-view-button > .glyphicon {
  cursor: pointer;
  font-size: 16px;
  padding: 4px 5px 4px 2px;
  top: 0;
}

.total-view-button > .glyphicon-fast-backward {
    font-size: 22px;
    padding: 5px 5px 7px 8px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .total-view-button {
        display: none;
    }
}

.total-view-menuelement {
    display:block;
    text-align: center;
    color: #808080;
    padding-bottom: 5px;
    font-size: 13px;
}

.total-view-menuelement > .icon-home {
    font-size: 16px;
}
