.freeze-view {
    z-index: 10000;
    position: absolute;
    top: -100000px;
    left: -100000px;
    width: 100%;
    height: 100%;
}

.freeze-activated {
    position: absolute;
    top: 0px;
    left: 0px;
}

.freeze-deactivated {
    height: 10px;
    width: 10px;
}

.freeze-deactivated .freeze-view-close {
    left: 0px;
    top: 0px;
}

.freeze-view-close {
    z-index: 10001;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
    font-size: 26px;
    width: 600px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #646262;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.lock-control {
    font-size: 22px;
    padding: 7px 6px 6px 7px;
}

.controls-row-right .freeze-view-start {
    margin-top: 20px;
}

.controls-row-right > .freeze-view-start > .icon-lock:before {
    color: #f3f3f3;
}
