.portal-title {
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: #c0c0c0 3px 3px 5px;
    font-size: 26px;
    color: #777;
    font-family: 'UniversNextW01-Regular','Arial Narrow',Arial,sans-serif;
    vertical-align: middle;
    line-height: 50px;
    float: left;
}

.portal-title > a > img {
    /*height: 44px;*/
    margin: 5px 5px 5px 10px;
}

.portal-title > span {
    padding-left: 5px;
}
