.scale-line {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 0 5px 0 0;
    bottom: 0;
    color: #777;
    position: absolute;
    text-align: center;
    font-size: 10px;
    padding: 4px 8px;
}

.scale:first-child {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 20px;
}

.scale:last-child {
    padding: 0 16px;
}

@media (max-width: 767px) {
    .scale-line {
        display: none;
    }
}

@media (min-width: 768px) {
    .scale-line {
        display: block;
    }
}
