/*overwirting bootstrap*/
.no-lines {
    border-top: none;
}
/*bold font for keys*/
.bold {
    font-family: "UniversNextW04-620CondB", "Arial Narrow", Arial, sans-serif;
}
/*placeholder rows*/
.placeholder {
    height: 28px;
}
